.colored {
    color: var(--primary-aux-color);
}

.about {
    margin: 0.2rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: stretch;
    width: 100%;
    /* border: 1px solid black; */
}

.lorem, .data {
  /* border: 1px solid black; */
  text-align: justify;
  text-justify: inter-word;
  padding: 0 1rem;
  font-weight: 400;
  line-height: 26px;
  color: #4b4453;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  min-width: 220px;
  max-width: 100%;
}

.lorem {
    flex: 1;
}

.lorem p {
  /* border: 1px solid black; */
    margin-bottom: 0.6rem;
}

.data-item {
    /* border: 1px solid black; */
    display: flex;
}

.data-item > * {
    display: inline-block;
}

.data-item > span {
    width: 100px;
}

.lorem {
    width: 300px;
}



