#footer {
    text-align: center;
    padding-top: 1rem;
}

#footer .media {
    margin: 0;
}

hr {
    margin-bottom: .8em;
    width: 100%;
    height: 1px;
    border: 0;
    background: var(--secondary-aux-color);
    box-shadow: 0 1px 1px 1px #d3d3d3;
}

#footer .media-item {
    padding: 0;
    padding-left: 1.3rem;
}

#footer > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
    align-items: center;
}

#footer p {
    display: inline-block;
    justify-self: flex-start;
    font-size: 1rem;
    font-weight: 400;
}
