.section {
    margin:          0.5rem 2rem;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
    /* border: 1px solid black; */
}

.section-title {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.section-title h2 {
    color:        var(--primary-font-color);
    font-family:         var(--secondary-font);
    position: relative;
    display: inline-block;
}

.section-title h2::after {
    content:    '';
    position:   absolute;
    left:       0;
    top:        110%;
    height:     1px;
    width:      100%;
    background: var(--secondary-aux-color);
    box-shadow: 0px 1px 1px 1px lightgrey;
}


@media (max-width: 576px) {
    .section {
        margin: 0.5rem 1rem;
    }
}
